<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>此域名出售中</title>
    <link href="<?=StaticDir?>css/base.css" rel="stylesheet" type="text/css" />

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?695dc44b06ba518027fb6e2bfb232f8d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
    <style type="text/css">
        body {
            background: #f2f2f2 url(<?=StaticDir?>images/bg.jpg) no-repeat center 100px;
            width: 1000px;
            margin: 0 auto;
            min-height: 524px;
            position: relative;
        }
        .tips {
            font-size: 16px;
            line-height: 1.5em;
            position: absolute;
            top: 500px;
            right: 200px;
        }
    </style>
<body>
    <div class="logo">
        <!-- <img src="huayishi.com_logo.jpg" /> -->
    </div>
    <div class="tips">
        <ul>
            <li>
                此域名出售中，请移步阿里云域名交易平台进行购买，<a href="http://mi.aliyun.com/" target="_blank">http://mi.aliyun.com/。</a>
            </li>
            <li>
                如果有需要,你可以联系我们。
            </li>
            <li>
                E-mail: xtvj007#gmail.com。#换成@
            </li>
            <li>
                感谢你的支持,谢谢。
            </li>
        </ul>
    </div>
    <div style="padding:5px;padding-top:620px;text-align:center">
        Copyright©2016 <?=$domain?> All Rights Reserved 
    </div>

</body>
</html>

